@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Lora&display=swap');


*{
     margin: 0em;
     padding: 0em;
     box-sizing: border-box;
}
html {
     font-family: 'Inknut Antiqua', serif;
     font-family: 'Lora', serif;
}


body {
     height: 100vh;
     background-size: cover;
     width: 100%;
     background-position: center;
     background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

