---
import "../styles/global.css";
const title = "Welcome!";
const navitems = ["Home", "Skills", "Experience", "Projects", "Contact"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
          <style>
               .firsthalf {
                    background-image: url("../assets/webpage_model_in_red.jpg");
               }
               nav ul{
                    display: inline-flex;
               }
          </style>
	</head>
	<body>
          <div class="firsthalf">
                <nav>
                     <ul>
                          {navitems.map((item) => <li>{item}</li> )}
                     </ul>
                </nav> 
          </div>
	</body>
    
</html>
