---
import { Icon } from 'astro-icon'
import "../styles/global.css";
import Navigation from "../components/Navigation.astro"; "../components/Navigation.astro";
const title = "Welcome!";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
          <Navigation/>
          <div class="m-6"> 
               <h2>Hello World and Welcome</h2>
               <h3>Software Engineer and Fullstack Developer</h3>
               <p>Welcome to my portfolio! As a recent graduate in software engineering, I am excited to showcase my skills and passion for creating innovative solutions. With a strong foundation in programming and a commitment to continuous learning, I am eager to contribute to a dynamic software engineering role. Thank you for visiting, and let's connect to explore potential opportunities.</p>
          </div>
          <div>
               <Icon name="mdi:github" class="h-10 w-10 rounded-full text-white" />
               <Icon name="mdi:linkedin" class="h-10 w-10 rounded-full text-white"/>
          </div>
          <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
	</body>
    
</html>
