---
//import "../styles/global.css";
const title = "Welcome!";
const navitems = ["Home", "Skills", "Experience", "Projects", "Contact"]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
          <style>
               .firsthalf {
                    width: 100%;
                    height: 100vh;
                    background-image: url("../assets/webpage_model_in_red.jpg");
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
               }
               nav {
                    display: flex;
               }
               nav ul li{
                    display: inline-block;
                    list-style: none;
                    margin: 0rem 7rem;
                    font-size: 1.8rem;
                    color: #fbeec1;
               }
          </style>
	</head>
	<body>
          <div class="firsthalf">
                <img src="" alt="">
                <nav>
                     <ul>
                          {navitems.map((item) => <li><a>{item}</a></li> )}
                     </ul>
                </nav> 
          </div>
	</body>
    
</html>
