---
import "../styles/global.css";
const title = "Welcome!";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
          <style>
               .navbar {
                    background-color: coral;
               }
               .navitems {
                    font-size: 2rem;
                    display: flex;
                    justify-content: space-between;
                    color: purple;
               }
          </style>
	</head>
	<body>
		<h1>{title}</h1>

	</body>
     <style>
          h1 {
               display: flex;
               justify-content: center;
          }
     </style>
</html>
