---
import { Icon } from 'astro-icon'
import "../styles/global.css";
import Navigation from "../components/Navigation.astro"; "../components/Navigation.astro";
const title = "Welcome!";
import memoji from "../assets/devMemoji2.png"
import Slider from "../components/slider.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
          <Navigation />
          <div id="Home" class="w-full h-screen text-center">
               <div class="mx-auto max-w-7xl p-2 w-full h-full flex justify-center items-center">
                    <div>
                         <h2 class="text-tan text-6xl py-2 font-medium">Hello World, I'm <span class="text-red-950
                         hover:text-7xl ease-in duration-300">Chinedum Nmereole</span>,</h2>
                         <h3 class="text-tan text-4xl py-2">A Software Engineer and Fullstack Developer</h3>
                         <p class="text-md max-w-[70%] m-auto leading-7 text-zinc-600 text-xl">I am a recent graduate in software engineering
                         from Sam Houston State University, I am excited to showcase my skills and passion for creating innovative solutions. With a strong foundation in programming and a commitment to continuous learning, I am eager to contribute to a dynamic software engineering role. Thank you for visiting, and let's connect to explore potential opportunities.</p>
                         <div class="m-2 p-2 flex content-center justify-center gap-12">
                         <Icon name="mdi:github" class="h-10 w-10 rounded-full text-tan cursor-pointer hover:scale-125 hover:text-red-950" />
                         <Icon name="mdi:linkedin" class="h-10 w-10 rounded-full text-tan cursor-pointer hover:scale-125 hover:text-red-950"/>
                         <Icon name="mdi:at" class="h-10 w-10 rounded-full text-tan cursor-pointer hover:scale-125 hover:text-red-950"/>
                    </div>
               </div>
          </div>
        
          <div id="About" class="w-full md:h-screen items-center flex p-2 py-16">
               <div class="max-w-[1240px] m-auto md:grid grid-cols-3 gap-8">
                    <div class="col-span-2">
                         <p class="tracking-wider flex justify-left items-left uppercase text-blackboard text-2xl font-bold hover:scale-110 ease-in
                         duration-300">About</p>
                         <h2 class="items-left flex justify-left text-tan text-4xl py-2">Where I'm from</h2>
                    </div>
                    <div class="relative mx-auto h-auto w-full flex justify-center content-center overflow-hidden
                    shadow-xl shadow-darkgrain rounded-xl hover:scale-110 ease-in duration-300 bg-tan">
                         <img src={memoji} alt="memoji of chinedum nmereole" class="object-cover">
                    </div>
               </div>
          </div>
          <div id="Skills" class="mt-24 text-center p-10">
               <h2 class="text-teal-300 text-6xl py-2 font-medium">Education</h2>
               <div>
                    
               </div>
          </div>
	</body>
    
</html>
