---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro"; "../components/Navigation.astro";
const title = "Welcome!";
import modelImage from "../assets/male_model(without background) (1).png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
          <style> 
              .center-image{
                    align-items: center;
              } 
          </style>
	</head>
	<body>
          <Navigation/>
          <div class="center-image">
               <img src={modelImage} alt="Model image">
          </div>
	</body>
    
</html>
