---
import "../styles/global.css";
const title = "Welcome!";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
          <style>
               h1 {
                    font-size: 4rem;
               }
               .header {
                    display: flex;
                    justify-content: center;
                    border: 0.4rem solid;
                    border-radius: 1rem;
               }
               .about {
                    display: flex;
                    justify-content: space-between;
                    height: 75vh;
                    margin-top: 3rem;
                    margin-left: 1.2rem;
                    margin-right: 1.2rem;
                    margin-bottom: 3rem;
               }
               .sec1 {
                    border: 0.2rem solid yellow;
                    border-radius: 1rem;
                    background-color: yellow;
                    color: white;
                    width: 49%;
               }
               .sec2 {
                    border: 0.2rem solid yellow;
                    border-radius: 1rem;
                    background-color: yellow;
                    color: darkblue;
                    width: 49%;
               }
          </style>
	</head>
	<body>
          <div class="header">
		     <h1>{title}</h1>
          </div>
          <div class="about">
              <section class="sec1">
                    <h2>About Me</h2>
                    <p>Hello, my name is Chinedum Nmereole and I'm a web developer and software engineer.<p>
              </section>
              <section class="sec2">
                    <img src="" alt="Image of myself here">
              </section>
          </div>
	</body>
    
</html>
