---
import Navigation from './Navigation.astro';
---

<style>
     .navbar {
          height: 15vh;
          width: 95%;
          background-color: gray;
     }
</style>

<header>
 <nav class="navbar">
   <Navigation />
 </nav>
</header>

