---
import Navigation from './Navigation.astro';
---
<header>
 <nav>
   <Navigation />
 </nav>
</header>

<style>
     header {
          width: 100%;
          height: 15vh;
          color: gray;
     }
     nav {
          display: flexbox;
     }
</style>
