---
import Navigation from './Navigation.astro';
---
<header class="header1">
 <nav>
   <Navigation />
 </nav>
</header>

<style> 
     .header1 {
          height: 15vh;
          width: 95%;
          background-color: gray;
     }
</style>

