---
import Navigation from './Navigation.astro';
---
<header>
 <nav>
   <Navigation />
 </nav>
</header>

<style>
     nav {
          display: flex;
          justify-content: center;
     }
</style>
