---
import Navigation from './Navigation.astro';
---

<style> 
     .myheader {
          background-color: navy;
          min-height: 12vh;
     }
</style>

<header class="myheader">
     <nav>
          <Navigation />
     </nav>
</header>

