---
const navitems = ["Home", "About", "Skills", "Projects"];

---

<nav class="nav-links">
     <h4>Chinedum Nmereole</h4>
     <ul>
          {navitems.map((item) => <li><a href="">{item}</a></li>)}
     </ul>
</nav>

<style>
     .nav-links{
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 6vh;
     }
     .nav-links h4{
          color: #fffdd0;
          font-size: 2rem;
          font-weight: bold;
          letter-spacing: 0.2rem;
          margin: 2rem;
     }
     .nav-links ul{
          display: flex;
          justify-content: space-evenly;
          color: #fffdd0;
          list-style: none;
          width: 30%;
     }
     .nav-links ul li{
          font-size: 1.7rem;
          color: #fffdd0;
     }
     .nav-links ul li a{
          text-decoration: none;
          color: #fffdd0;
     }
</style>
