---
import Lightswitch from "./lightswitch.svelte";
const navitems = ["Home", "About", "Skills", "Projects","Contact"];

---

<nav class="nav-links hidden lg:flex lg:justify-between lg:items-center lg:min-h-[2vh] fixed w-full shadow-lg shadow-surface-600 bg-surface-400 z-[100]">
     <h4 class="hover:scale-105 hover:text-error-500 ease-in duration-200 font-Chillax font-semibold animate-pulse">Chinedum Nmereole | Software Engineer | Fullstack Developer</h4>
     <ul class="hidden lg:flex lg:justify-evenly lg:list-none md:w-[25%]">
          {navitems.map((item) => <li class="hover:scale-125 hover:text-error-500 ease-in duration-300"><a href={"#" + item}
          class="font-Chillax font-bold">{item.toUpperCase()}</a></li>)}
      <li><Lightswitch client:load/></li>
     </ul>
  
</nav>

<style>
     .nav-links h4{
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 0.2rem;
          margin: 2rem;
     }
     .nav-links ul li{
          font-size: 1.2rem;
          color: black;
     }

</style>
