---
const navitems = ["Home", "About", "Skills", "Contact"];

---

<nav class="nav-links fixed w-full shadow-xl shadow-darkgrain bg-grain z-[100]">
     <h4 class="hover:scale-105 ease-in duration-200 font-Stardom">Chinedum Nmereole | Software Engineer | Fullstack Developer</h4>
     <ul>
          {navitems.map((item) => <li class="hover:scale-125 hover:text-tan ease-in duration-300 font-Stardom"><a href={"#" + item}>{item.toUpperCase()}</a></li>)}
     </ul>
</nav>

<style>
     .nav-links{
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 2vh;
     }
     .nav-links h4{
          color: black;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 0.2rem;
          margin: 2rem;
     }
     .nav-links ul{
          display: flex;
          justify-content: space-evenly;
          color: black;
          list-style: none;
          width: 25%;
     }
     .nav-links ul li{
          font-size: 1.2rem;
          color: black;
     }

</style>
