---
const navitems = ["Home", "About", "Skills", "Projects"];

---

<div class="nav-links">
     <ul>
          {navitems.map((item) => <li><a href="">{item}</a></li>)}
     </ul>
</div>

<style>
     .nav-links a{
          text-decoration: none;
          color: #fbeec1;
          display: flex;
          justify-content: space-evenly;
     }
</style>
