---
const navitems = ["Home", "About", "Skills", "Projects"];

---

<div class="nav-links">
     <ul>
          {navitems.map((item) => <li><a href="">{item}</a></li>)}
     </ul>
</div>

<style>
     .nav-links ul{
          display: flex;
          justify-content: space-evenly;
          color: #fbeec1;
          list-style: none;
     }
     .nav-links ul li{
          font-size: 2rem;
     }
     .nav-links ul li a :hover{
          text-decoration: none;
     }
</style>
