---
const { skill } = Astro.props;
const { frameworks } = Astro.props;
const { description } = Astro.props;
const { iconname } = Astro.props
import { Icon } from 'astro-icon'
---
<li class="bg-grain shadow-xl shadow-darkgrain h-32 w-72 rounded-2xl mx-auto hover:scale-125 ease-in duration-300 hover:mx-auto">
     <Icon name={ iconname } class="h-16 w-16 mx-auto"/>
     <h2 class="text-tan font-Chillax text-xl font-bold py-4">{ skill }</h2>
</li>

