---
const { skill } = Astro.props;
const { frameworks } = Astro.props;
const { description } = Astro.props;
const { iconname } = Astro.props
import { Icon } from 'astro-icon'
---
<li class="bg-amber-200 h-96 w-104 rounded-3xl overflow-hidden flex items-center justify-center flex-col">
     <div><Icon name={ iconname } class="h-16 w-16 mb-8"/></div>
     <h2 class="text-gray-100">{ skill }</h2>
     <h4 class="text-gray-100">{ frameworks }</h4>
     <span class="m-4 text-gray-100">{ description }</span>
</li>

