---
import Card from "./skillcard.astro"; 
---

<div class="grid grid-flow-col"> 
     <ul> 
          <Card skill="Python" frameworks="[Django, Flask, FastAPI]" iconname="logos:python" />
          <Card skill="JavaScript" frameworks="[Reactjs, Svelte]"/>
          <Card skill="Go"/>
          <Card skill="Java"/>
     </ul>
</div>
