---
import Card from "./skillcard.astro"; 
---

<div class="grid grid-flow-col"> 
     <ul class="grid grid-flow-col auto-cols-auto gap-16"> 
          <Card skill="Python" frameworks="Django, Flask, FastAPI" iconname="logos:python" />
          <Card skill="JavaScript" frameworks="Reactjs, Svelte" iconname="logos:javascript"/>
          <Card skill="Go" iconname="logos:go"/>
          <Card skill="Java" iconname="logos:java"/>
     </ul>
</div>
