---
import Card from "./skillcard.astro"; 
---

<div class="grid grid-flow-col"> 
     <ul> 
          <Card skill="Python" frameworks="[Django, Flask, FastAPI]" />
          <Card skill="JavaScript" frameworks="[Reactjs, Svelte]" iconname="logos:javascript"/>
          <Card skill="Go" iconname="devicon:go"/>
          <Card skill="Java" iconname="devicon:java"/>
     </ul>
</div>
