---
import Card from "./skillcard.astro"; 
---

<div class="grid grid-flow-col"> 
     <ul class="grid grid-flow-col auto-cols-auto gap-16"> 
          <Card skill="Python" frameworks="Django, Flask, FastAPI" iconname="logos:python" class="bg-amber-200" />
          <Card skill="JavaScript" frameworks="Reactjs, Svelte" iconname="logos:javascript" class="bg-amber-200"/>
          <Card skill="Go" iconname="logos:go" class="bg-amber-200"/>
          <Card skill="Java" iconname="logos:java" class="bg-amber-200"/>
     </ul>
</div>
