---
import Card from "./skillcard.astro"; 
---

<div  class="max-w-[680px] md:max-w-[1240px] py-4"> 
     <ul class="grid md:grid-flow-row grid-cols-2 grid-rows-4 md:grid-cols-4 md:grid-rows-2 gap-12"> 
          <Card skill="Python" iconname="logos:python" />
          <Card skill="JavaScript" iconname="logos:javascript"/>
          <Card skill="Go"  iconname="logos:go"/>
          <Card skill="Java" iconname="logos:java"/>
          <Card skill="SQL" iconname="logos:mysql-icon"/>
          <Card skill="C++" iconname="logos:c-plusplus"/>
          <Card skill="C#" iconname="logos:c-sharp" />
          <Card skill="HTML" iconname="logos:html-5" />
          <Card skill="CSS" iconname="logos:css-3" />
          <Card skill="Haskell" iconname="logos:haskell-icon"/>
          <Card skill="Astro" iconname="logos:astro" />
     </ul>
</div>
