---
import Card from "./skillcard.astro"; 
---

<div> 
     <ul> 
          <Card skill="Python", frameworks="[Django, Flask, FastAPI]" />
          <Card skill="JavaScript", frameworks="[Reactjs, Svelte]"/>
          <Card skill="Go"/>
          <Card skill="Java"/>
     </ul>
</div>
