---
import Card from "./skillcard.astro"; 
---

<div class="max-w-[1240px] py-4"> 
     <ul class="grid grid-flow-row grid-cols-4 grid-rows-2 gap-12"> 
          <Card skill="Python" iconname="logos:python" />
          <Card skill="JavaScript" iconname="logos:javascript"/>
          <Card skill="Go"  iconname="logos:go"/>
          <Card skill="Java" iconname="logos:java"/>
          <Card skill="SQL" iconname="logos:mysql-icon"/>
          <Card skill="C++" iconname="logos:c-plusplus"/>
          <Card skill="C#" iconname="logos:c-sharp" />
     </ul>
</div>
